<table>
  <tr>
    <th>Name</th>
    <th>Player</th>
    <th>Game</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Actions</th>
  </tr>
  <% @charcters.each do |c| %>
    <tr>
      <td><%=c.name%></td>
      <td><%=c.player%></td>
      <td>Placeholder</td>
      <td><%=c.created_at%></td>
      <td><%=c.updated_at%></td>
      <td>Show | Edit</td>
    </tr>
<%end%>
