- title "Newsletters"
- if can? :create, Newsletter
  - edit_text "Upload Newsletter"
  - edit_path new_newsletter_path

-if @current_newsletter.present?
  %iframe{src: @current_newsletter.file.url, width: "750", height: "1000", frameBorder: "0", align: "center"}

.news_archive
  %h2 Archive
  %table
    %tr
      %th Date
      %th Download
    - @newsletters.each do |newsletter|
      %tr
        %td= link_to newsletter.month.strftime("%B, %Y"), newsletter
        %td= link_to newsletter.file_content_type, newsletter.file.url
