<% title "Character Templates" %>
<% if can? :create, CharacterTemplate %>
  <% edit_text "Create New Game" %>
  <% edit_path new_character_template_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "character_template_summary_box", collection: @character_templates, as: "character_template" %>
  </div>
</section>
