<% title "Attachments" %>
<% if can? :create, Attachment %>
  <% edit_text "Create New Attachment" %>
  <% edit_path new_attachment_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "attached", collection: @attachments, as: "attachment" %>
  </div>
</section>
