<% title "Player Character" %>
<% if can? :create, PlayerCharacter %>
  <% edit_text "Create Player Character" %>
  <% edit_path new_player_character_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "character_summary_box", collection: @player_characters, as: "player_character" %>
  </div>
</section>
