<% title "Games" %>
<% if can? :create, @game %>
  <% edit_text "Create New Game" %>
  <% edit_path new_game_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "game_summary_box", collection: @games, as: "game" %>
  </div>
</section>
