<% title "Character" %>
<% if can? :create, Character %>
  <% edit_text "Create Character" %>
  <% edit_path new_character_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "character_summary_box", collection: @characters, as: "character" %>
  </div>
</section>
