<% title "Player Characters" %>
<% if can? :create, PlayerCharacter %>
  <% edit_text "Create New Player" %>
  <% edit_path new_player_character_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "pc.html.haml", collection: @player_characters, as: "pc" %>
  </div>
</section>
