<% title "Resources" %>
<% if can? :create, Resource %>
  <% edit_text "Upload New Resource" %>
  <% edit_path new_resource_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "resource_summary_box", collection: @resources, as: "resource" %>
  </div>
</section>
