<% title "Resource" %>
<% if can? :create, Resource %>
  <% edit_text "Upload Resource" %>
  <% edit_path new_resource_path %>
<%end%>

<section>
  <%- if @resource.file_content_type == 'image/jpeg' %>
    <%= image_tag @resource.file.url(:medium) %>
  <%-end%>
  <br>
  <strong>Name:</strong>
  <%= @resource.file_file_name %>
  <br>
  <strong>Type:</strong>
  <%= @resource.file_content_type %>
</section>
