%h1 You have been invited
%p"#{@gm.display_name} has invited you to join the campaign: #{@campaign_title}"
%p You can accept or reject this invite by clicking the following link and browsing the player section and clicking the approiate button.
= link_to @url, @url
