%h1 Access Requested
%p"#{@user.display_name} has requested access as a player to your campaing #{@campaign_title}"
%p You can accept or reject this request by clicking the following link and browsering the player section and click the approiate button.
= link_to @url, @url
