<% title "Players" %>
<% if can? :create, Player %>
  <% edit_text "Create New Player" %>
  <% edit_path new_player_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "player_summary_box", collection: @players, as: "player" %>
  </div>
</section>
