<% title "Edit Campaign" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @campaign %> |
  <%= link_to "View All", campaigns_path %>
</p>
<p>
  <h2 class='warning'>Danger</h2>
  <%= link_to 'Destroy Campaign', campaign_path(@campaign), data: { confirm: 'Are you sure?' }, :method => :delete %>
</p>
