<% title "Campaigns" %>
<% if can? :create, Campaign %>
  <% edit_text "Create New Campaign" %>
  <% edit_path new_campaign_path %>
<%end%>

<section>
  <div class="section_header">
    <h2>Listing</h2>
  </div>
  <div class="section_content">
    <%= render partial: "campaign_summary_box", collection: @campaigns, as: "campaign" %>
  </div>
</section>
