body {
  width: 65%;
  margin: 0 auto;
  table {
    border: 1px solid #CCC;
    tr {
      border: 1px solid #CCC;
    }
    th {
      border: 2px solid #CCC;
    }
    td {
      border: 1px solid #CCC;
      min-width: 75px;
      padding: 7px;
    }

  }
  nav {
    background-color: black;
    color: white;
    ul {
      margin: 0 auto;
      overflow: auto;
      li {
        float:left;
        list-style: none;
        padding: 7px;
      }
    }
  }
  #sidebar {
    float:right;
    width: 29%;
    padding: 1.2em;
  }
  #container {
    float:left;
    margin: 0;
    padding: 1.2em;
    width: 61%;
    form {
      input {
        width: 90%;
      }
      textarea {
        width: 90%;
        height: 200px;
      }
    }
    #main {
      clear: both;
      #main_image{
        padding: 7px;
        float: left;
      }
      #main_info{
      }
    }
    .title {
      padding: 14px;
      border-bottom: 2px solid black;
    }
    section {
      &.attachments {
        clear: both;
      }
      &.add_item {
        width: 100%;
        border: 1px solid black;
      }
    }
  }
}

